/* alert holder */

#alertContainer {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	height: auto;
	pointer-events: none;
	padding: 20px 30px 80px 30px;
	z-index: 4;
}

#alertContainer button {
	border:none;
}

.alert {
	position: relative;
	padding: 1.2em 2em;
	margin-bottom: 20px;
	color: var(--textcolor);
	border-radius: var(--roundness);
	width: 100%;
	max-width: 400px;
}

.alert.success{background-color: mediumseagreen;box-shadow: 0 0 12px mediumseagreen;}
.alert.info{background-color: dodgerblue;box-shadow: 0 0 12px dodgerblue;}
.alert.warning{background-color: rgb(255, 166, 0);box-shadow: 0 0 12px rgb(255, 166, 0);}
.alert.danger,.alert.error{background-color: red;box-shadow: 0 0 12px red;}
.alert.primary{background-color: var(--themecolor);box-shadow: 0 0 12px var(--themecolor);}
.alert.secondary{background-color: var(--altbg);box-shadow: 0 0 12px var(--altbg);}
.alert.light{background-color: var(--bs-light);box-shadow: 0 0 12px var(--bs-light);}
.alert.dark{background-color: var(--bs-dark);box-shadow: 0 0 12px var(--bs-dark);}
.alert b,.alert strong{
	display: inline-block;
	border-radius: calc(var(--roundness) / 2);
	background-color: var(--alttextcolor);
	padding: 2px 12px;
}
