body {
	margin: 0;
	font-family: calibri,'tw cen mt',Arial, sans-serif !important;
	color: var(--textcolor);
	background-color: var(--bodybg) !important;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

nav {
	background-color: var(--containerbg);
	color: var(--textcolor);
	padding: 10px;
	position: fixed;
	top: 0;
	width: 100%;
	box-shadow: 0 3px 12px rgba(0,0,0,0.1);
	z-index: 12;
	display: flex !important;
	flex-direction: row;
	justify-content: space-between;
}
.nav .logoguy{
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 10px;
	font-size: 22px;
}
nav .sidestuff{
	padding: 5px;
}
nav .icon {
	height: 30px;
	display: inline-flex !important;
	justify-content: center;
	aspect-ratio: 1;
	align-items: center;
	font-size: 12px;
}
nav .uname{
	font-weight: 800;
}
nav .stuff {
	background-color: var(--containerbg);
	padding: 12px 20px;
	border-radius: var(--roundness);
	color: var(--textcolor);
	min-width: 300px;
	right: 0;
}
nav .stuff .projectsummary b{
	color: var(--themecolor);
}

footer {
	background-color: var(--containerbg);
	padding: 10px;
	position: fixed;
	bottom: 0;
	width: 100%;
	display: flex !important;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
	z-index: 7;
}
footer .sect{
	padding: 4px 0;
}

.btn {
	background-color: var(--themecolor);
	color: #fff;
	border: none;
	border-radius: var(--roundness);
	padding: 7px 14px;
	cursor: pointer;
	display: inline-flex;
	align-items: center;
	margin: 0 5px;
}

.btn i {
	margin-right: 5px;
}

.popups{
	z-index: 13 !important;
}

#mySidebar {
	background-color: rgba(0, 0, 0, 0.3);
	width: 100%;
	position: fixed;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 13;
}